PORT=8080
# Lis nimewo admin, separe pa vigil.
ADMIN_PHONES=50900000000
# Kle sekrè pou token. FÒK ou chanje li an pwodiksyon!
JWT_SECRET=chanje-sa-a-yon-valè-sekrè-long
# Chemen fichye done JSON
DATABASE_PATH=./data/data.json
